body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/Assets/movie_projector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

/*removing default border styling on hamburger nav icon upon a click or focus event */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: 1px solid black; /* Do not interfer with this property bu setting it to 'none' as it is considered bad practice for accessibility purposes especially when an element is focused.*/
  box-shadow: none !important;
  border: none;
}

/* removing default border */
button.navbar-toggler {
  border: none;
}
