body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/Assets/movie_theater.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*removing default border styling on hamburger nav icon upon a click or focus event */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: 1px solid black; /* Do not interfer with this property bu setting it to 'none' as it is considered bad practice for accessibility purposes especially when an element is focused.*/
  box-shadow: none !important;
  border: none;
}

/* removing default border */
button.navbar-toggler {
  border: none;
}

figcaption > h1,
h2 {
  display: flex;
  justify-content: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 10px;
  justify-content: center;
}

p {
  color: white;
}

div.spinner-border {
  display: block;
  margin: auto;
  color: white;
}
